/* Add these to your CSS file */
.admin-dashboard {
  background-color: #FAF3F0; /* Pastel Red */
}

.student-dashboard {
  background-color: #FEFBF6; /* Pastel Green */
}

.teacher-dashboard {
  background-color: #a0c4ff; /* Pastel Blue */
}
