/* Home.css */

.content-container {
    padding:  2rem  0;
  }
  
  .section-title {
    font-size:  2rem;
    margin-bottom:  1rem;
  }
  
  .section-text {
    font-size:  1.2rem;
    margin-bottom:  2rem;
  }
  
  .cta-button {
    margin-top:  1rem;
  }
  
  .services-list {
    list-style-type: none;
    padding:  0;
  }
  
  .services-list li {
    font-size:  1.1rem;
    margin-bottom:  0.5rem;
  }
  .image-container {
    height:  100vh; /* Set the height to half of the viewport height */
    overflow: hidden; /* Hide any content that exceeds the container's bounds */
  }