@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  background: #f1f3f8 ;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Space Grotesk', sans-serif !important;;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif !important;
}
input{
background-color: #f1f3f8 !important;

}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-brand{
  font-weight: 700;
}
.navbar-light {
  background-color: #ffffff;
}
.nav-item {
  padding-bottom: 0px;
}
.nav-link-hm {
  /* padding:18px 0 0 0 !important; */
  min-width:120px !important;
  font-size:medium !important;
  font-weight: 700 !important;
  text-align: center;
}
.nav-link-hover:hover {
  text-decoration: none;
  border-bottom:  2px solid #2d75f1;
}

.nav-side-text {
  font-weight: 700 !important;
  color: #23232b !important;
}
.navbar {
  padding: 0
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,.show-pw
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
  text-decoration: none;
}

.btn-login{
background-color: #2d75f1 !important;
color: #f1f3f8 !important;
font-weight: 700;

}
#login-section{
  -webkit-box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.05);
box-shadow: inset 0px 0px 20px -1px rgba(0,0,0,0.05);
}


.header-text {
  /* position: absolute;
  top: 110px;
  left: 409px; */
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 48px;
  font-weight: bold;
}
.full-height {
  height:  100vh;
  overflow-y: auto; /* Add scroll if content exceeds the viewport height */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  flex:  1  0 calc(33.33% -  20px); 
  margin:  10px; /* Padding around each card */
  background: #fff;
  box-shadow:  0  2px  2px  0 rgba(0,  0,  0,  0.14),  0  3px  1px -2px rgba(0,  0,  0,  0.2),  0  1px  5px  0 rgba(0,  0,  0,  0.12);
  border-radius:  4px; /* Optional: adds rounded corners */
  overflow: hidden; /* Prevents content from overflowing */
}

/* Media query for smaller screens (mobile) */
@media (max-width:  600px) {
  .card {
    flex:  1  0 calc(50% -  20px); /* Two cards per row on small screens */
  }
}
